.listmenu {  
	font-family: "宋体"; font-size: 12px; color: #3C5166; background-color: #D2DFF2
}
.white_s14_1_b {
	font-family: "宋体"; font-size: 14px; font-weight: bold; color: #FFFFFF;cursor:default
}
.navtext {
	BORDER-RIGHT: white 1px; BORDER-TOP: white 1px; FONT: bold 9pt sans-serif; BORDER-LEFT: white 1px; WIDTH: 235px; COLOR: black; BORDER-BOTTOM: white 1px ; BACKGROUND-COLOR:#B2D6F3; TEXT-ALIGN: left; layer-background-color: #B2D6F3
}
.menu {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 0px; BACKGROUND: #4471C1; LEFT: 0px; VISIBILITY: hidden; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: visible; BORDER-LEFT: #cccccc 1px solid; WIDTH: 200px; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; POSITION: absolute; TOP: 0px
}
.menu A {
	PADDING-LEFT: 14px; PADDING-RIGHT: 7px; PADDING-TOP: 7px; PADDING-BOTTOM: 7px;FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #4471C1; WIDTH: 200px; COLOR: white; FONT-FAMILY: 宋体; TEXT-DECORATION: none;BORDER-BOTTOM: #cccccc 1px solid;
}
.menu A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #4471C1; COLOR: white; FONT-FAMILY: 宋体; TEXT-DECORATION: none;
}
.menu A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: black; COLOR: #ffff00; FONT-FAMILY: 宋体; TEXT-DECORATION: none;
}

.menu1 {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 0px; BACKGROUND: #4471C1; LEFT: 0px; VISIBILITY: hidden; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: visible; BORDER-LEFT: #cccccc 1px solid; WIDTH: 220px; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 0px solid; POSITION: absolute; TOP: 0px
}
.menu1 A {
	PADDING-LEFT: 14px; PADDING-RIGHT: 7px; PADDING-TOP: 7px; PADDING-BOTTOM: 7px;FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #4471C1; WIDTH: 220px; COLOR: white; FONT-FAMILY: 宋体; TEXT-DECORATION: none;BORDER-BOTTOM: #cccccc 1px solid;
}
.menu1 A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #4471C1; COLOR: white; FONT-FAMILY: 宋体; TEXT-DECORATION: none;
}
.menu1 A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: black; COLOR:#ffff00; FONT-FAMILY: 宋体; TEXT-DECORATION: none;
}

.skin0 {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 14px; Z-INDEX: 100; VISIBILITY: hidden; BORDER-LEFT: black 1px solid; WIDTH: 165px; CURSOR: default; LINE-HEIGHT: 20px; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Verdana; POSITION: absolute; BACKGROUND-COLOR: menu
}
.menuitems {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px
}
.leftmove {  font-family: "宋体"; font-size: 14px; color: #000000; padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px; border: #466D5F; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.deepgreen_s14_15_b {  
	font-family: "宋体"; font-size: 14px; line-height: 150%; color: #000000; font-weight: bold
; clip:  rect(   );TEXT-DECORATION: none; 
}
.deepgreen_s14_15_b A { 
FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: 宋体; TEXT-DECORATION: none; 
}
.deepgreen_s14_15_b A:visited { 
FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: 宋体; TEXT-DECORATION: none; 
}
.deepgreen_s14_15_b A:hover {
border-left:#999999 1px solid;PADDING-left: 23px;border-right:#999999 1px solid;padding-right:23px;border-top:#999999 1px solid;padding-top:2px;border-bottom:#999999 1px solid;padding-bottom:0px;background:#cccccc;TEXT-DECORATION: none; 
}
.deepgreen_s14_15_bc {  
	font-family: "宋体"; font-size: 14px; line-height: 150%; color: #000000; font-weight: bold
; clip:  rect(   );TEXT-DECORATION: none; 
}
.deepgreen_s14_15_bc A { 
FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: 宋体; TEXT-DECORATION: none; 
}
.deepgreen_s14_15_bc A:visited { 
FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: 宋体; TEXT-DECORATION: none; 
}
.deepgreen_s14_15_bc A:hover {
border-left:#999999 1px solid;PADDING-left: 5px;border-right:#999999 1px solid;padding-right:5px;border-top:#999999 1px solid;padding-top:2px;border-bottom:#999999 1px solid;padding-bottom:0px;background:#cccccc;TEXT-DECORATION: none; 
}
.menuleft {
font-family: "宋体"; font-size: 14px; color: #000000; font-weight: bold
;TEXT-DECORATION: none; VISIBILITY: hidden;OVERFLOW: visible; POSITION: absolute;border-left:#cccccc 1px solid;padding-left:2px;border-right:#cccccc 1px solid;padding-right:2px;border-top:#cccccc 1px solid;padding-top:2px;border-bottom:#cccccc 1px solid;padding-bottom:2px;;background:#EFEFEF;
}
.menuleft A { 
font-family: "宋体"; font-size: 14px; color: #000000; font-weight: bold;PADDING-left:2px;padding-right:2px;padding-top:2px;padding-bottom:0px; TEXT-DECORATION: none; BACKGROUND:#EFEFEF;WIDTH: 136px;
}
.menuleft A:visited { 
FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: 宋体; TEXT-DECORATION: none;border-left:#EFEFEF 1px solid;PADDING-left:2px;border-right:#EFEFEF 1px solid;padding-right:2px;border-top:#EFEFEF 1px solid;padding-top:2px;border-bottom:#EFEFEF 1px solid;padding-bottom:2px;
}
.menuleft A:hover {
FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: 宋体;border-left:#999999 1px solid;PADDING-left:2px;border-right:#999999 1px solid;padding-right:2px;border-top:#999999 1px solid;padding-top:2px;border-bottom:#999999 1px solid;padding-bottom:2px;background:#cccccc;TEXT-DECORATION: none; 
}
.ndwz {  font-family: "宋体"; font-size: 12px; font-style: normal; line-height: 150%; text-decoration: none}
.cong {  font-family: "宋体"; font-size: 14px; font-style: normal; line-height: 150%; color: #333333; text-decoration: none; font-weight: bold}
.cong1 {  font-family: "宋体"; font-size: 14px; font-style: normal; line-height: 150%; color: #000000; text-decoration: none}
.root {  font-family: "宋体"; font-size: 12px; font-style: normal}
.tupian {  font-family: "宋体"; color: #000000; border: 1px #000000 none}
.press {
	COLOR: #0000ff; CURSOR: hand; FONT-FAMILY: "仿宋_GB2312"
}